/* Custom styles for album display */
.field--name-field-cover-art IMG {
  border: 1px solid black;
  box-shadow: 5px 5px 7px #ccc;
}

.album-details {
  width: 45%;
  float: left;
}

.album-cover-art {
  width: 45%;
  float: right;
}

.rfn-artist-link {
  text-decoration: none;
  color: #000000;
}

.rfn-parental-advisory {
  margin: 5% 5% 5% 0;
}

.album-tracks TABLE audio {
  width: 100%;
}

.album-tracks thead TD {
  padding-top: 40px;
  border-bottom: solid thin #cccccc;
}

.track-number {
  padding-left: 3.5rem;
}

.album-tracks TABLE TR.odd {
  background: #cccccc !important;
}

.album-tracks TABLE TR.even {
  background: #dddddd !important;
}

AUDIO.highlighted {
  background: red !important;
}

.fallback-image {
  width: 250px;
  height: 250px;
  border: solid thin #000000;
}

#playButton {
    border-radius: 5px;
    width: 100%;
    background: none;
    border: solid thin #000000;
}

@media only screen and (max-width: 768px) {

  .album-details {
    width: 100%;
    clear: both;
    margin-bottom: 5%;
  }

  .album-cover-art {
    width: 100%;
    clear: both;
  }

  .field--name-field-cover-art IMG {
    width: 768px;
  }

  .album-tracks TABLE,
  .album-tracks TABLE audio {
    font-size: 0.8em;
    width: 100%;
  }

  .track-number {
    padding-left: 1.5rem;
  }
}
